@import 'tailwindcss';

body {
  display: flex;
  margin: 0 auto;
  background-color: rgb(248, 248, 248);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
}

.container {
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
  padding: 0px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
}

@theme {
  --color-black: #000000;
  --color-inactive: #b7b7b7;
  --color-border: #e9e9e9;
}

@layer base {
  [class*='border'] {
    border-color: var(--color-border);
  }
}

@font-face {
  font-family: 'Pretendard Variable';
  src: url('/fonts/PretendardVariable.ttf') format('truetype');
  font-style: normal;
  line-height: normal;
}

@layer components {
  .text-regular12 {
    font-family: 'Pretendard Variable';
    font-size: 12px;
    font-weight: 400;
  }

  .text-regular13 {
    font-family: 'Pretendard Variable';
    font-size: 13px;
    font-weight: 400;
  }

  .text-regular14 {
    font-family: 'Pretendard Variable';
    font-size: 14px;
    font-weight: 400;
  }

  .text-regular15 {
    font-family: 'Pretendard Variable';
    font-size: 15px;
    font-weight: 400;
  }

  .text-regular16 {
    font-family: 'Pretendard Variable';
    font-size: 16px;
    font-weight: 400;
  }

  .text-medium12 {
    font-family: 'Pretendard Variable';
    font-size: 12px;
    font-weight: 500;
  }

  .text-medium13 {
    font-family: 'Pretendard Variable';
    font-size: 13px;
    font-weight: 500;
  }

  .text-medium14 {
    font-family: 'Pretendard Variable';
    font-size: 14px;
    font-weight: 500;
  }

  .text-medium16 {
    font-family: 'Pretendard Variable';
    font-size: 16px;
    font-weight: 500;
  }

  .text-medium18 {
    font-family: 'Pretendard Variable';
    font-size: 18px;
    font-weight: 500;
  }

  .text-bold12 {
    font-family: 'Pretendard Variable';
    font-size: 12px;
    font-weight: 600;
  }

  .text-bold14 {
    font-family: 'Pretendard Variable';
    font-size: 14px;
    font-weight: 600;
  }

  .text-bold15 {
    font-family: 'Pretendard Variable';
    font-size: 15px;
    font-weight: 600;
  }

  .text-bold16 {
    font-family: 'Pretendard Variable';
    font-size: 16px;
    font-weight: 600;
  }

  .text-bold20 {
    font-family: 'Pretendard Variable';
    font-size: 20px;
    font-weight: 700;
  }
}

@font-face {
  font-family: 'NanumSquareNeo Variable';
  src: url('/fonts/NanumSquareNeo-Variable.ttf') format('truetype');
  font-style: normal;
  line-height: normal;
}

@layer components {
  .text-nanum-regular16 {
    font-family: 'NanumSquareNeo Variable';
    font-size: 16px;
    font-weight: 400;
  }

  .text-nanum-medium40 {
    font-family: 'NanumSquareNeo Variable';
    font-size: 40px;
    font-weight: 500;
  }
}
